.headerBackground{
    -fx-background-color: #000000;
}

.headerMain{
    -fx-background-color: #fff;
}

.headerFont {
    -fx-font-family: "Georgia", sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: #764834;
}

.mainBackground{
    -fx-background-color: #6c4535;
}

.main{
    -fx-background-color: #d7b0a0;
}

.sectionBackground{
    -fx-background-color: #764834;
}

.sectionTitleFont {
    -fx-font-family: "Georgia", sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: #d7b0a0;
}

.sectionSubFont {
    -fx-font-family: "Georgia", sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.radius{
    -fx-background-radius: 8px;
}

/*colour of the button before pressed*/
.section-btn{
    -fx-background-color: #fbe9e1;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
}

/*colour of the button when pressed*/
.section-btn:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
}

.user-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #000000;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
}
.user-btn:hover{
    -fx-background-color: #000000;
    -fx-text-fill: #fff;
}