/* Header */
.table-view {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-font-family: "Times New Roman";
}

.table-view .column-header {
    -fx-background-color: #d7b0a0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: transparent transparent #ccc transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-font-size: 16px;
}

.table-view .column-header-background .label {
    -fx-border-color: transparent #ccc transparent transparent;
    -fx-border-width: 0 1px 0 0;
}

.wrap-text-cell {
    -fx-wrap-text: true;
}

/* This part is still under revision as no data has been inputted yet*/
/*
.table-view .table-row-cell:hover {
    -fx-background-color: #e0f7fa;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #b2dfdb;
}

.table-view .table-cell:selected {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.table-row-cell:odd {
    -fx-background-color: #fafafa;
}
.table-row-cell:even {
    -fx-background-color: #ffffff;
}
*/