.topbar-button-user {
    -fx-background-color: transparent;
    -fx-background-radius: 20;
    -fx-cursor: hand;
    -fx-text-fill: black;
    -fx-font-family: "Cambria";
    -fx-font-size: 16;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
}
.topbar-button-user:hover {
    -fx-background-color: lightgrey;
    -fx-underline: true;
}

.topbar-button-user:pressed {
    -fx-background-color: darkgrey;
    -fx-text-fill: white;
    -fx-underline: true;
}

/* General format for list in sidebar*/
.sidebar-list {
    -fx-background-color: #fff7f4;
    -fx-background-radius: 40;
}

.sidebar-toggle-label {
    -fx-background-color: #6C4535;
    -fx-background-radius: 40;
    -fx-text-fill: #fff7f4;
    -fx-font-size: 16px;
    -fx-font-family: "constantia";
    -fx-padding: 3 3 3 3;
}

/* Button for returning to main */
.sidebar-button-large {
    -fx-background-color: #fff7f4;
    -fx-text-fill: #D7B0A0;
    -fx-font-family: "constantia";
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-background-radius: 40;
}

.sidebar-button-large:hover {
    -fx-background-color: #f7cfc0;
}

.sidebar-button-large:pressed {
    -fx-background-color: #CF9784;
}

/* Toggle button for tag use in information page */
.sidebar-title {
    -fx-text-fill: #d7b0a0;
    -fx-font-family: "Constantia";
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-max-width: infinity;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}
.sidebar-button-medium {
    -fx-background-color: #6C4535;
    -fx-text-fill: #fff7f4;
    -fx-font-family: "Constantia";
    -fx-font-size: 16px;
    -fx-min-height: 40;
    -fx-max-width: infinity;
    -fx-background-radius: 40;
}

.sidebar-button-medium:hover {
    -fx-background-color: #f7cfc0;
    -fx-text-fill: #261c1c;
}

.sidebar-button-medium:selected {
    -fx-background-color: #d7b0a0;
    -fx-text-fill: #261c1c;
}

/* Magnifying Glass */
.info-magnifying {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}
.info-magnifying:hover {
    -fx-border-color: gray;
    -fx-border-width: 2;
}
.info-magnifying:pressed {
    -fx-background-color: lightgrey;
}

/* Add Button */
.add-button {
    -fx-background-color: #6c4535;
    -fx-background-radius: 100;
    -fx-border-color: transparent;
    -fx-padding: 10;
}
.add-button:hover {
    -fx-border-color: gray;
    -fx-border-width: 2;
    -fx-border-radius: 100;
}
.add-button:pressed {
    -fx-background-color: white;
}
.add-button:pressed .svg-add {
    -fx-fill: #6c4535;
}