/*background elements*/
.sectionBackground{
    -fx-background-color: #764834;
    -fx-border-radius: 40;
}

.sectionCenter{
    -fx-background-color: #fff7f4;
    -fx-border-radius: 40;
}

/*calender elements*/
.Calender {
    -fx-background-color: #6c4535;
    -fx-border-color: #d7b0a0; -fx-border-width: 1px; -fx-border-style: solid;
    -fx-font-family: "Constantia";
    -fx-font-weight: bold;
    -fx-text-fill: #361000;
    -fx-font-size: 18px;
}

.CalenderDate-Button {
    -fx-background-color: transparent;
    -fx-text-fill: #fff7f4;
    -fx-font-family: "Constantia";
    -fx-font-size: 18px;
}

.CalenderDate-Button:selected {
    -fx-background-color: #fbe9e1;
    -fx-text-fill: #261c1c;
    -fx-background-radius: 50;
}


/*date button elements*/
.dateFont {
    -fx-font-family: "Constantia";
    -fx-font-weight: bold;
    -fx-text-fill: #361000;
    -fx-font-size: 18px;
}

.date-button:pressed {
    -fx-background-color: #CF9784;
}

.arrow-button {
    -fx-background-color: transparent;
    -fx-text-fill: #6c4535;
    -fx-font-family: "Constantia";
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-min-height: 40;
    -fx-max-width: infinity;
    -fx-background-radius: 40;
}

.arrow-button:pressed {
    -fx-text-fill: #fff7f4;
}

.dateBackground {
    -fx-background-color: #d7b0a0;
    -fx-border-color: #7a4900;
    -fx-border-width: 3px;
    -fx-min-height: 10px;
}

/*event elements*/
.textfield {
    -fx-background-color: #6c4535;
    -fx-border-color: #d7b0a0; -fx-border-width: 3px; -fx-border-style: solid;
    -fx-font-size: 1.5em;
    -fx-font-family: "Constantia";
    -fx-prompt-text-fill: #ffffff;
    -fx-text-fill: white; /* Changes text color to white */
}

/*time elements*/
.timeFont {
    -fx-font-family: "Constantia";
    -fx-text-fill: #ffffff;
    -fx-font-size: 35px;
}

/*time textfield*/
.TimeTextfield {
    -fx-background-color: #6c4535;
    -fx-border-color: #d7b0a0; -fx-border-width: 3px; -fx-border-style: solid;
    -fx-font-size: 2.75em;
    -fx-font-family: "Constantia";
    -fx-prompt-text-fill: #ffffff;
    -fx-text-fill: white; /* Changes text color to white */
}

/*time toggle button: AM, PM*/
.time-button {
    -fx-background-color: #6c4535;
    -fx-border-color: #d7b0a0; -fx-border-width: 3px; -fx-border-style: solid;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Constantia";
    -fx-font-size: 16px;
    -fx-min-height: 40;
    -fx-max-width: infinity;
}

.time-button:selected {
    -fx-background-color: #d7b0a0;
    -fx-border-color: #6c4535; -fx-border-width: 3px; -fx-border-style: solid;
    -fx-text-fill: #261c1c;
}

/* Button to add event */
.event-button {
    -fx-background-color: #6c4535;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Constantia";
    -fx-font-size: 18px;
    -fx-min-height: 40;
    -fx-max-width: infinity;
    -fx-background-radius: 40;
}

.event-button:pressed {
    -fx-background-color: #d7b0a0;
    -fx-text-fill: #261c1c;
}

/* Discard button */
.discard-button {
    -fx-background-color: transparent;
    -fx-text-fill: #361000;
    -fx-font-family: "Constantia";
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-min-height: 40;
    -fx-max-width: infinity;
    -fx-background-radius: 40;
}