/* General format for list in sidebar*/
.sidebar-list {
    -fx-background-color: #fff7f4;
    -fx-background-radius: 40;
}

/* Button for returning to main */
.sidebar-button-large {
    -fx-background-color: #fff7f4;
    -fx-text-fill: #D7B0A0;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-background-radius: 40;
}

.sidebar-button-large:hover {
    -fx-background-color: #f7cfc0;
}

.sidebar-button-large:pressed {
    -fx-background-color: #CF9784;
}

/* Toggle button for tag use in information page */
.sidebar-title {
    -fx-text-fill: #d7b0a0;
    -fx-font-family: "Constantia";
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-max-width: infinity;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}
.sidebar-button-medium {
    -fx-background-color: #6C4535;
    -fx-text-fill: #fff7f4;
    -fx-font-family: "Constantia";
    -fx-font-size: 16px;
    -fx-min-height: 40;
    -fx-max-width: infinity;
    -fx-background-radius: 40;
}

.sidebar-button-medium:hover {
    -fx-background-color: #f7cfc0;
    -fx-text-fill: #261c1c;
}

.sidebar-button-medium:selected {
    -fx-background-color: #d7b0a0;
    -fx-text-fill: #261c1c;
}

/* Magnifying Glass */
.info-magnifying {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.info-magnifying:pressed {
    -fx-background-color: lightgray;
}

.info-magnifying:hover {
    -fx-border-color: gray;
    -fx-border-width: 2;
}

/* Header */
.table-view {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-font-family: "Times New Roman";
}

.table-view .column-header {
    -fx-background-color: #d7b0a0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: transparent transparent #ccc transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-font-size: 16px;
}

.table-view .column-header-background .label {
    -fx-border-color: transparent #ccc transparent transparent;
    -fx-border-width: 0 1px 0 0;
}

.wrap-text-cell {
    -fx-wrap-text: true;
}

/* This part is still under revision as no data has been inputted yet*/
/*
.table-view .table-row-cell:hover {
    -fx-background-color: #e0f7fa;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #b2dfdb;
}

.table-view .table-cell:selected {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.table-row-cell:odd {
    -fx-background-color: #fafafa;
}
.table-row-cell:even {
    -fx-background-color: #ffffff;
}
*/