.gradient {
    -fx-background-color: #764834;
}

.white-form{
    -fx-background-color: #fff;
}

.head-label{
    -fx-border-color: #764834;
    -fx-border-width: 0 0 0 3px;
    -fx-padding: 0 0 0 5px;
}

/*colour of the login button before pressed*/
.login-btn{
    -fx-background-color: #764834;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

/*colour of the login button when pressed*/
.login-btn:hover{
    -fx-background-color: #fbe9e1;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
}

/*border for the username and password box*/
.textfield{
    -fx-background-color: transparent;
    -fx-border-color: #764834;
    -fx-border-width: 1px;
}
.textfield:focused{
    -fx-border-width: 1px;
}

.create-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
}
.create-btn:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}